/*BEGIN Xbox One Controller Styling*/
.controller.xbox {
    background: url(https://raw.githubusercontent.com/WizrdsControllers/WizrdsControllers.github.io/a9a19d91fad321e16070471ef254af06c9dd9d50/xbox%20minimalist/base.svg);
    height: 214.389px;
    width: 499.449px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox.white {
    background: url(https://raw.githubusercontent.com/WizrdsControllers/WizrdsControllers.github.io/a9a19d91fad321e16070471ef254af06c9dd9d50/xbox%20minimalist/base.svg);
}

.xbox.disconnected {
    background: url(https://raw.githubusercontent.com/WizrdsControllers/WizrdsControllers.github.io/a9a19d91fad321e16070471ef254af06c9dd9d50/xbox%20minimalist/disconnected.svg);
}

.xbox.disconnected div {
    display: none;
}

.xbox .triggers {
    width: 499px;
    height: 121px;
    position: absolute;
    left: 0px;
}

.xbox .trigger {
    width: 193.874px;
    height: 34.7px;
    background: url(https://raw.githubusercontent.com/WizrdsControllers/WizrdsControllers.github.io/a9a19d91fad321e16070471ef254af06c9dd9d50/xbox%20minimalist/trigger.svg);
    opacity: 0;
}

.xbox .trigger.left {
    float: left;
    background-position: 0 0;
}

.xbox .trigger.right {
    float: right;
    transform: rotateY(180deg);
}

.xbox .bumper {
    width: 193.874px;
    height: 32.7px;
    background: url(https://raw.githubusercontent.com/WizrdsControllers/WizrdsControllers.github.io/a9a19d91fad321e16070471ef254af06c9dd9d50/xbox%20minimalist/bumper.svg);
    opacity: 0;
}

.xbox .bumpers {
    width: 499px;
    height: 121px;
    position: absolute;
    left: 0px;
    top: 53.006px;
}

.xbox .bumper.pressed {
    opacity: 1;
}

.xbox .bumper.left {
    float: left;
}

.xbox .bumper.right {
    float: right;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.xbox .quadrant {
    position: absolute;
    background: url(https://raw.githubusercontent.com/WizrdsControllers/WizrdsControllers.github.io/a9a19d91fad321e16070471ef254af06c9dd9d50/xbox%20minimalist/quadrant.svg);
    height: 45px;
    width: 45px;
    top: 258px;
    left: 354px;
    z-index: 0;
}

.xbox .p0 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.xbox .p1 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.xbox .p2 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.xbox .p3 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.xbox .arrows {
    position: absolute;
    width: 76.9px;
    height: 33px;
    top: 59.312px;
    left: 211.1px;
}

.xbox .back, .xbox .start {
    background: url(https://raw.githubusercontent.com/WizrdsControllers/WizrdsControllers.github.io/a9a19d91fad321e16070471ef254af06c9dd9d50/xbox%20minimalist/start-select.svg);
    width: 25.655px;
    height: 25.8px;
    opacity: 0;
}

.xbox .back.pressed, .xbox .start.pressed {
    opacity: 1;
}

.xbox .back {
    float: left;
}

.xbox .start {
    background-position: 26.1px 0px;
    float: right;
}

.xbox .abxy {
    position: absolute;
    width: 109.5px;
    height: 156px;
    top: 102.8px;
    left: 387.878px;
}

.xbox .button {
    position: absolute;
    background: url(https://raw.githubusercontent.com/WizrdsControllers/WizrdsControllers.github.io/a9a19d91fad321e16070471ef254af06c9dd9d50/xbox%20minimalist/abxy.svg);
    width: 36.9px;
    height: 36.704px;
}

.xbox .button.pressed {
    background-position-y: -38.5px;
    margin-top: 0px;
    opacity: 1;
}

.xbox .a {
    background-position: 0 0;
    top: 73.4px;
    left: 36.1px;
}

.xbox .b {
    background-position: -38.6px 0;
    top: 36.8px;
    right: 0px;
}

.xbox .x {
    background-position: -77.5px 0;
    top: 36.8px;
    left: -0.4px;
}

.xbox .y {
    background-position: 189.6px 0;
    left: 36.1px;
    top: 0px;
}

.xbox .sticks {
    position: absolute;
    width: 371px;
    height: 196px;
    top: 116.4px;
    left: 1.461px;
}

.xbox .stick {
    position: absolute;
    background: url(https://raw.githubusercontent.com/WizrdsControllers/WizrdsControllers.github.io/a9a19d91fad321e16070471ef254af06c9dd9d50/xbox%20minimalist/stick.svg);
    background-position: -85px 0;
    height: 83.5px;
    width: 83.5px;
}

.xbox .stick.pressed {
    background-position: 0 0;
}

.xbox .stick.left {
    top: 0;
    left: 0;
}

.xbox .stick.right {
    top: 0px;
    left: 268px;
}

.xbox .dpad {
    position: absolute;
    width: 113px;
    height: 112.6px;
    top: 101.7px;
    left: 120px;
}

.xbox .face {
    background: url(https://raw.githubusercontent.com/WizrdsControllers/WizrdsControllers.github.io/a9a19d91fad321e16070471ef254af06c9dd9d50/xbox%20minimalist/dpad.svg);
    position: absolute;
    opacity: 0;
}

.xbox .face.pressed {
    opacity: 1;
}

.xbox .face.up {
    background-position: 39.5px 0;
    left: 36.9px;
    top: 0px;
    width: 39.2px;
    height: 57px;
}

.xbox .face.down {
    left: 36.9px;
    bottom: 0;
    width: 39.2px;
    height: 57px;
}

.xbox .face.left {
    background-position: 0 -99.510px;
    width: 57px;
    height: 39.2px;
    top: 36.5px;
    left: 0;
}

.xbox .face.right {
    background-position: 0 -58.307px;
    width: 57px;
    height: 39.2px;
    top: 36.5px;
    right: 0;
}

.xbox.half {
    margin-top: -315px;
}

.xbox {
    background: no-repeat center;
}

/*END Xbox One Controller Styling*/
