/*BEGIN Wizrdsonly Switch PRO Controller Styling for JaySkilling*/
.controller.xbox {
    background: url(base-white-fix.svg);
    height: 1195.159px;
    width: 1496.866px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox.white {
    background: url(base-white-fix.svg);
}

.xbox.disconnected {
    background: url(disconnected.svg);
}

.xbox.disconnected div {
    display: none;
}

.xbox .triggers {
    width: 1086.216px;
    height: 180.595px;
    position: absolute;
    left: 206px;
}

.xbox .trigger {
    width: 239.192px;
    height: 180.595px;
    background: url(trigger.svg);
    opacity: 0;
}

.xbox .trigger.left {
    float: left;
    background-position: 0 0;
}

.xbox .trigger.right {
    float: right;
    transform: rotateY(180deg);
}

.xbox .bumper {
    width: 356.238px;
    height: 122.261px;
    background: url(bumper.svg);
    opacity: 0;
}

.xbox .bumpers {
    position: absolute;
    width: 1167.755px;
    height: 122.261px;
    left: 164.478px;
    top: 159.019px;
}

.xbox .bumper.pressed {
    opacity: 1;
}

.xbox .bumper.left {
    float: left;
}

.xbox .bumper.right {
    float: right;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.xbox .quadrant {
    position: absolute;
    background: url(quadrant.svg);
    height: 45px;
    width: 45px;
    top: 258px;
    left: 354px;
    z-index: 0;
}

.xbox .p0 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.xbox .p1 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.xbox .p2 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.xbox .p3 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.xbox .arrows {
    position: absolute;
    width: 436.027px;
    height: 65.491px;
    top: 326.3px;
    left: 530.341px;
}

.xbox .back, .xbox .start {
    background: url(start-select.svg);
    width: 64.988px;
    height: 64.988px;
    opacity: 0;
}

.xbox .back.pressed, .xbox .start.pressed {
    opacity: 1;
}

.xbox .back {
    float: left;
}

.xbox .start {
    background-position: 65px 0px;
    float: right;
}

.xbox .abxy {
    position: absolute;
    width: 345.375px;
    height: 314.616px;
    top: 314.072px;
    left: 969px;
}

.xbox .button {
    position: absolute;
    background: url(abxy.svg);
    width: 111.677px;
    height: 111.677px;
}

.xbox .button.pressed {
    background-position-y: -116.653px;
    margin-top: 0px;
    opacity: 1;
}

.xbox .a {
    background-position: -116.653px 0;
    top: 202.9px;
    left: 116.850px;
}

.xbox .b {
    background-position: 0px 0;
    top: 101.293px;
    right: 0px;
}

.xbox .x {
    background-position: -349.959px 0;
    top: 101.293px;
    left: 0px;
}

.xbox .y {
    background-position: -233.306px 0;
    left: 116.850px;
    top: 0px;
}

.xbox .sticks {
    position: absolute;
    width: 371px;
    height: 196px;
    top: 382.534px;
    left: 249.330px;
}

.xbox .stick {
    position: absolute;
    background: url(stick.svg);
    background-position: 0px 0;
    height: 170.378px;
    width: 170.378px;
}

.xbox .stick.pressed {
    background-position: -175px 0;
}

.xbox .stick.left {
    top: 0;
    left: 0;
}

.xbox .stick.right {
    top: 209.800px;
    left: 608.852px;
}

.xbox .dpad {
    position: absolute;
    width: 218.108px;
    height: 218.108px;
    top: 568.104px;
    left: 407.249px;
}

.xbox .face {
    background: url(dpad.svg);
    position: absolute;
    opacity: 0;
}

.xbox .face.pressed {
    opacity: 1;
}

.xbox .face.up {
    background-position: 0px 0;
    left: 75px;
    top: 0px;
    width: 69.529px;
    height: 74.289px;
}

.xbox .face.down {
    background-position: -74.9px 0;
    left: 74.289px;
    bottom: 0;
    width: 69.529px;
    height: 74.289px;
}

.xbox .face.left {
    background-position: -149.059px 0px;
    width: 74.289px;
    height: 71.5px;
    top: 72px;
    left: 0;
}

.xbox .face.right {
    background-position: -228.99px 0px;
    width: 74.289px;
    height: 71.5px;
    top: 72px;
    right: 0;
}

.xbox.half {
    margin-top: -315px;
}

.xbox {
    background: no-repeat center;
}

/*END Wizrdsonly Switch PRO Controller Styling for JaySkilling*/
