/*BEGIN Xbox One Controller Styling*/
.controller.xbox {
    background: url(https://raw.githubusercontent.com/WizrdsControllers/WizrdsControllers.github.io/0495abd7273ad6a5077f9bd6129046e98531da45/tooQuacked/baseNoPaddlesRedCap.svg);
    height: 651.4px;
    width: 741.5px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox.white {
    background: url(https://raw.githubusercontent.com/WizrdsControllers/WizrdsControllers.github.io/0495abd7273ad6a5077f9bd6129046e98531da45/tooQuacked/baseNoPaddlesRedCap.svg);
}

.xbox.disconnected {
    background: url(https://raw.githubusercontent.com/WizrdsControllers/WizrdsControllers.github.io/0495abd7273ad6a5077f9bd6129046e98531da45/tooQuacked/disconnected.svg);
}

.xbox.disconnected div {
    display: none;
}

.xbox .triggers {
    width: 463.5px;
    height: 121px;
    position: absolute;
    left: 138.8px;
}

.xbox .trigger {
    width: 92.1px;
    height: 126.2px;
    background: url(https://raw.githubusercontent.com/WizrdsControllers/WizrdsControllers.github.io/0495abd7273ad6a5077f9bd6129046e98531da45/tooQuacked/trigger.svg);
    opacity: 0;
}

.xbox .trigger.left {
    float: left;
    background-position: 0 0;
}

.xbox .trigger.right {
    float: right;
    transform: rotateY(180deg);
}

.xbox .bumper {
    width: 155.9px;
    height: 58.4px;
    background: url(https://raw.githubusercontent.com/WizrdsControllers/WizrdsControllers.github.io/0495abd7273ad6a5077f9bd6129046e98531da45/tooQuacked/bumper.svg);
    opacity: 0;
}

.xbox .bumpers {
    position: absolute;
    width: 517.3px;
    height: 58.4px;
    left: 112.1px;
    top: 133.4px;
}

.xbox .bumper.pressed {
    opacity: 1;
}

.xbox .bumper.left {
    float: left;
}

.xbox .bumper.right {
    float: right;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.xbox .quadrant {
    position: absolute;
    background: url(https://raw.githubusercontent.com/WizrdsControllers/WizrdsControllers.github.io/0495abd7273ad6a5077f9bd6129046e98531da45/tooQuacked/quadrant.svg);
    height: 45px;
    width: 45px;
    top: 258px;
    left: 354px;
    z-index: 0;
}

.xbox .p0 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.xbox .p1 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.xbox .p2 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.xbox .p3 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.xbox .arrows {
    position: absolute;
    width: 141.6px;
    height: 33px;
    top: 260.3px;
    left: 299.9px;
}

.xbox .back, .xbox .start {
    background: url(https://raw.githubusercontent.com/WizrdsControllers/WizrdsControllers.github.io/0495abd7273ad6a5077f9bd6129046e98531da45/tooQuacked/start-select.svg);
    width: 31.1px;
    height: 31.1px;
    opacity: 0;
}

.xbox .back.pressed, .xbox .start.pressed {
    opacity: 1;
}

.xbox .back {
    float: left;
}

.xbox .start {
    background-position: 31.2px 0px;
    float: right;
}

.xbox .abxy {
    position: absolute;
    width: 156.7px;
    height: 156.7px;
    top: 199.9px;
    left: 487.1px;
}

.xbox .button {
    position: absolute;
    background: url(https://raw.githubusercontent.com/WizrdsControllers/WizrdsControllers.github.io/0495abd7273ad6a5077f9bd6129046e98531da45/tooQuacked/abxy.svg);
    width: 52.7px;
    height: 52.7px;
}

.xbox .button.pressed {
    background-position-y: -54.7px;
    margin-top: 0px;
    opacity: 1;
}

.xbox .a {
    background-position: 0 0;
    top: 104px;
    left: 51.2px;
}

.xbox .b {
    background-position: -54.7px 0;
    top: 52.8px;
    right: 0px;
}

.xbox .x {
    background-position: -109.4px 0;
    top: 51.2px;
    left: 0px;
}

.xbox .y {
    background-position: -164.1px 0;
    left: 52.8px;
    top: 0px;
}

.xbox .sticks {
    position: absolute;
    width: 371px;
    height: 197.2px;
    top: 234.5px;
    left: 135.3px;
}

.xbox .stick {
    position: absolute;
    background: url(https://raw.githubusercontent.com/WizrdsControllers/WizrdsControllers.github.io/e4c30dc3073559aa27c188c4e38c42b84d84b0d9/tooQuacked/stick.svg);
    height: 83.3px;
    width: 83.3px;
}
.xbox .stick.left {
    background-position: -87.3px 0;
    top: 0;
    left: 0;
}

.xbox .stick.right {
    background-position: -174.5px 0;
    top: 113px;
    left: 293.6px;
}

.xbox .stick.pressed {
    background-position: 0 0;
}

.xbox .dpad {
    position: absolute;
    width: 122px;
    height: 122px;
    top: 338.3px;
    left: 209.7px;
}

.xbox .face {
    background: url(https://raw.githubusercontent.com/WizrdsControllers/WizrdsControllers.github.io/e4c30dc3073559aa27c188c4e38c42b84d84b0d9/tooQuacked/dpad.svg);
    position: absolute;
    opacity: 0;
}

.xbox .face.pressed {
    opacity: 1;
}

.xbox .face.up {
    background-position: 78.1px 2;
    left: 38px;
    top: 0px;
    width: 43.1px;
    height: 39px;
}

.xbox .face.down {
    left: 38px;
    bottom: 0;
    width: 34px;
    height: 56px;
}

.xbox .face.left {
    background-position: 0 -93px;
    width: 55px;
    height: 35px;
    top: 38px;
    left: 0;
}

.xbox .face.right {
    background-position: 0 -57px;
    width: 55px;
    height: 35px;
    top: 38px;
    right: 0;
}

.xbox.half {
    margin-top: -315px;
}

.xbox {
    background: no-repeat center;
}

/*END Xbox One Controller Styling*/
