/*BEGIN Xbox One Controller Styling*/
.controller.xbox {
    background: url(basePaddles.svg);
    height: 651.4px;
    width: 741.5px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox.white {
    background: url(basePaddles.svg);
}

.xbox.disconnected {
    background: url(disconnected.svg);
}

.xbox.disconnected div {
    display: none;
}

.xbox .triggers {
    width: 463.5px;
    height: 121px;
    position: absolute;
    left: 138.8px;
}

.xbox .trigger {
    width: 92.1px;
    height: 126.2px;
    background: url(trigger.svg);
    opacity: 0;
}

.xbox .trigger.left {
    float: left;
    background-position: 0 0;
}

.xbox .trigger.right {
    float: right;
    transform: rotateY(180deg);
}

.xbox .bumper {
    width: 155.9px;
    height: 58.4px;
    background: url(bumper.svg);
    opacity: 0;
}

.xbox .bumpers {
    position: absolute;
    width: 517.3px;
    height: 58.4px;
    left: 112.1px;
    top: 133.4px;
}

.xbox .bumper.pressed {
    opacity: 1;
}

.xbox .bumper.left {
    float: left;
}

.xbox .bumper.right {
    float: right;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.xbox .quadrant {
    position: absolute;
    background: url(quadrant.svg);
    height: 45px;
    width: 45px;
    top: 258px;
    left: 354px;
    z-index: 0;
}

.xbox .p0 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.xbox .p1 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.xbox .p2 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.xbox .p3 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.xbox .arrows {
    position: absolute;
    width: 141.6px;
    height: 33px;
    top: 260.3px;
    left: 299.9px;
}

.xbox .back, .xbox .start {
    background: url(start-select.svg);
    width: 31.1px;
    height: 31.1px;
    opacity: 0;
}

.xbox .back.pressed, .xbox .start.pressed {
    opacity: 1;
}

.xbox .back {
    float: left;
}

.xbox .start {
    background-position: 31.2px 0px;
    float: right;
}

.xbox .abxy {
    position: absolute;
    width: 650px;
    height: 740px;
    top: 150px;
    left: 150px;
}

.xbox .button {
    position: absolute;
    background: url(xyabpaddles.svg);
    width: 394.1px;
    height: 358.8px;
}

.xbox .button.pressed {
    background-position-y: -400px;
    margin-top: 0px;
    opacity: 1;
}

.xbox .a {
    background-position: -935.4px 0;
    top: 49.4px;
    right: -80.9px;
}

.xbox .b {
    background-position: -1074px 0px;
    top: 101.9px;
    right: 155.5px;
}

.xbox .x {
    background-position: 0px 0;
    top: 92px;
    left: 3.5px;
}

.xbox .y {
    background-position: -394.1px 0;
    left: 49px;
    top: 49.5px;
}

.xbox .sticks {
    position: absolute;
    width: 371px;
    height: 197.2px;
    top: 234.5px;
    left: 135.3px;
}

.xbox .stick {
    position: absolute;
    background: url(stick.svg);
    height: 83.3px;
    width: 83.4px;
}
.xbox .stick.left {
    background-position: -87.3px 0;
    top: 0;
    left: 0;
}

.xbox .stick.right {
    background-position: -174.5px 0;
    top: 113px;
    left: 293.6px;
}

.xbox .stick.pressed {
    background-position: 0 0;
}

.xbox .dpad {
    position: absolute;
    width: 110px;
    height: 111px;
    top: 345px;
    left: 223px;
}

.xbox .face {
    background: url(quadrant.svg);
    position: absolute;
    opacity: 0;
}

.xbox .face.pressed {
    opacity: 1;
}

.xbox .face.up {
    background-position: 34px 0;
    left: 38px;
    top: 0px;
    width: 34px;
    height: 56px;
}

.xbox .face.down {
    left: 38px;
    bottom: 0;
    width: 34px;
    height: 56px;
}

.xbox .face.left {
    background-position: 0 -93px;
    width: 55px;
    height: 35px;
    top: 38px;
    left: 0;
}

.xbox .face.right {
    background-position: 0 -57px;
    width: 55px;
    height: 35px;
    top: 38px;
    right: 0;
}


.xbox .fstick {
    position: absolute;
    width: 0px;
    height: 0px;
    top: 338.3px;
    left: 209.7px;
    background: url(dpad.svg)
}

.xbox .fstick.up {
    background-position: -78.1px 0px;
    top: 336px;
    left: 249.1px;
    width: 43.1px;
    height: 43px;
}

.xbox .fstick.down {
    background-position: -238.5px 0px;
    left: 249.1px;
    top: 418.6px;
    width: 43.1px;
    height: 43px;
}

.xbox .fstick.left {
    background-position: 0 0px;
    width: 39px;
    height: 42.5px;
    top: 377.7px;
    left: 210px;
}

.xbox .fstick.right {
    background-position: 157.3px 0px;
    width: 39px;
    height: 43.1px;
    top: 377.7px;
    left: 292.3px;
}

.xbox .fstick.up.right {
    background-position: 195.9px 4px;
    width: 37.1px;
    height: 50.1px;
    top: 334.4px;
    left: 292.3px;
}

.xbox .fstick.up.left {
    background-position: -41px 4px;
    width: 36.6px;
    height: 48px;
    top: 334.4px;
    left: 213.6px;
}

.xbox .fstick.down.right {
    background-position: -201px 4px;
    width: 37.1px;
    height: 48px;
    top: 412.5px;
    left: 292.3px;
}

.xbox .fstick.down.left {
    background-position: -281.8px 4px;
    width: 36.8px;
    height: 48px;
    top: 412.5px;
    left: 212.3px;
}

.xbox.half {
    margin-top: -315px;
}

.xbox {
    background: no-repeat center;
}

/*END Xbox One Controller Styling*/
